/*this is for importing the sign of lock and user*/

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(login.jpg) no-repeat;
    background-size: cover;
}

.login-box {
    width: 280px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
}

.login-box h1 {
    float: left;
    font-size: 50;
    border-bottom: 5px solid lightgreen;
    margin-bottom: 50px;
    padding: 5px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 6px;
    margin: 6px;
    border-bottom: 1px solid lightgreen;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 12px;
    width: 60px;
    float: left;
    margin: 8px;
}

.textbox i {
    float: left;
    width: 20px;
    text-align: center;
}

.button {
    background: none;
    color: white;
    width: 100%;
    padding: 5px;
    border: 1px solid lightgreen;
    cursor: pointer;
    margin: 10px;
    font-size: 12px;
}