<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>TODO LIST</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial scale=1.0" />
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" />
    <link href="{% static 'css/todostyle.css' %}" rel="stylesheet" />


    <script
      src="https://kit.fontawesome.com/19690584d6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
 
    {% url 'home_url_name' as home %}
    {% url 'todo_url_name' as todo %}
    {% url 'pomodoro_url_name' as pomodoro %}
    {% url 'logoutUser_url_name' as logoutUser %}
      <!--Navbar -->
      <div>
        <a href="notesappupdated.html"><img class="logo" src="{% static '/images/logo.png'%}" alt="logo"></a>
    </div>

       <header>
        <div class="navBar">
          <a href="#" class="toggleMenu">
            <span class="icons"></span>
          </a>
          <ul class="navItems">
            <li>
              <a href="/">
                <i class="fa-solid fa-clone"></i>
                <span style="--g: 1">Notes</span>
              </a>
            </li>
            <li>
              <a href="/todo">
                <i class="fa-solid fa-list-ul"></i
                ><span style="--g: 2">Todos</span>
               </a>
            </li>
            <li>
              <a href="/pomodoro">
                <i class="fa-solid fa-bell"></i
                ><span style="--g: 3">Pomodoro</span>
              </a>
            </li>

            <li>
              <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span style="--g: 4">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </header>
    <!-- </nav> -->

    <script>
      var toggleClick = document.querySelector(".toggleMenu");
      var navBar = document.querySelector(".navBar");

      toggleClick.addEventListener("click", () => {
        toggleClick.classList.toggle("active");
        navBar.classList.toggle("active");
      });
    </script>
    <!-- todos start -->
    <main>
      <h1>todos</h1>
      <form id="form">
        <input
          type="text"
          id="input"
          class="input"
          placeholder="Enter your todos"
          autocomplete="off"
        />
        <ul class="todos" id="todos"></ul>
      </form>
      <small>
        Left click to mark the task as complete.
        <br />
        Right click to remove todo list.
      </small>
    </main>
    <script src="{% static '/js/todo.js' %}"></script>
  </body>
</html>
