@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  /* display: flex;
  background-color: #242f36; */
/* overflow: hidden; */
/* } */
header {
  justify-content: flex-end;
}
.navBar {
  top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  right: 10rem;
  transition: 0.4s ease;
}
.navBar.active {
  height: 18rem;
}
.toggleMenu {
  position: relative;
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50px;
}
.icons {
  position: absolute;
  height: 4px;
  width: 35px;
  top: 50%;
  left: 50%;
  background-color: #161d2c;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
.toggleMenu.active .icons {
  width: 0;
}
.icons::before,
.icons::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 35px;
  left: 50%;
  background-color: #161d2c;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
.icons::before {
  top: 12px;
}
.icons::after {
  bottom: 8px;
}
.toggleMenu.active .icons::before {
  width: 2.5rem;
  transform: translate(-25px, 4px) rotate(45deg);
  transform-origin: right;
}
.toggleMenu.active .icons::after {
  width: 2.5rem;
  transform: translate(-25px, -5px) rotate(-45deg);
  transform-origin: right;
}
.navItems {
  width: 100%;
  visibility: hidden;
}
.navBar.active .navItems {
  visibility: visible;
}
li {
  list-style: none;
}
li a {
  text-transform: uppercase;
  color: #161d2c;
}
li a i {
  position: relative;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  transform: scale(0);
}
.navBar.active .navItems li a i {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--i));
}
.navBar.active .navItems li:hover a i {
  transition: 0.2s ease;
  color: #26d07c;
}
li a span {
  position: absolute;
  color: #161d2c;
  font-weight: 500;
  margin: 1.5rem 0;
}
.navBar.active .navItems li a span {
  transform: translateX(15px);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--g)); /*delays the time by 0.08s*/
}
.navBar.active .navItems li:hover a span {
  transition: 0.2s ease;
  transform: translateX(30px);
  color: #26d07c;
}
